body {
    background-image: url(https://th.bing.com/th/id/R.a1e8090b82438e8398375f791543fa1d?rik=nF954yOu7fSvUA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fke5GFrZ.jpg&ehk=d4y2zX4brfZm6t4e8zMQ6NkA1IPyLpIfbQE1FhG9vFM%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    width: 1920px;
    height: 1080px;
    backdrop-filter: blur(3px);
}
header, main, footer {
    border: solid 10px ghostwhite;
    border-radius: 24px;
    padding: 6px;
    font-family: 'Oswald', sans-serif;
    color: rgba(144, 73, 0, 1);
    background-color: rgba(255, 242, 169, 0.87);
    transition: background-color 300ms;
}
header:hover, main:hover, footer:hover {
    background-color: rgba(255, 242, 169, 1);
}
header {
    margin: 20px auto 20px auto;
    font-size:1.5em;
    width: 75%;
    text-align:center;
}
footer {
    margin: 20px auto 40px auto;
    padding:30px 30px 60px 30px;
}
text {
    font-family: 'Lato', sans-serif;
    text-align:center;
    font-size: 1.05em;
    display: block;
    line-height: 150%;
}
a {
    text-align:center;
    transition: all 200ms;
    text-decoration: none;
}
a:hover {
    font-size: 1.2em;
}
span  a {
    font-size: 1.35em;
    transition: all 200ms;
}
span:hover a { 
    font-size: 1.45em;
}
span img {
    width: 40px;
    transition: all 200ms;
    position:relative;
    top:-12px;
    left:3px;
}
span:hover img {
    width: 50px;
    top: -6px;
}
span.prev {
    text-align: left;
    float: left;
}
span.next {
    text-align: right;
    float: right;
}
.blocked {
    color: gray;
}
.blocked > img {
    filter: contrast(175%);
    position: relative;
    top: -12px;
    left: 1px;
    text-align: inherit;
    float: inherit;
}
.blocked:hover > img {
    width: 40px;
    top: -6px;
    left: 1px;
}
@media screen and (max-height: 768px) {
    body {
    background-image: url(https://th.bing.com/th/id/R.a1e8090b82438e8398375f791543fa1d?rik=nF954yOu7fSvUA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fke5GFrZ.jpg&ehk=d4y2zX4brfZm6t4e8zMQ6NkA1IPyLpIfbQE1FhG9vFM%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    width: 1366px;
    height: 768px;
    }
    header {
    font-size:1.75em;
    width: 40%;
    }
    text {
    font-size: 1.2em;
    }
}
