body {
    background-image: url(https://th.bing.com/th/id/R.a1e8090b82438e8398375f791543fa1d?rik=nF954yOu7fSvUA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fke5GFrZ.jpg&ehk=d4y2zX4brfZm6t4e8zMQ6NkA1IPyLpIfbQE1FhG9vFM%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    width: 1920px;
    height: 1080px;
}
@media screen and (max-height: 768px) {
    body {
    background-image: url(https://th.bing.com/th/id/R.a1e8090b82438e8398375f791543fa1d?rik=nF954yOu7fSvUA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fke5GFrZ.jpg&ehk=d4y2zX4brfZm6t4e8zMQ6NkA1IPyLpIfbQE1FhG9vFM%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    width: 1366px;
    height: 768px;
    }
}
header, main, footer {
    border: solid 10px ghostwhite;
    border-radius: 24px;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
    color: rgba(144, 73, 0, 1);
    background-color: rgba(255, 242, 169, 0.87);
    transition: border 200ms, background-color 300ms;
}
header:hover, main:hover, footer:hover {
    background-color: rgba(255, 242, 169, 1);
    border: solid 12px ghostwhite;
}
header {
    margin: 20px auto 20px auto;
    font-size:48px;
    width: 75%;
    text-align:center;
}
text {
    font-family: 'Lato', sans-serif;
    text-align:center;
    font-size: 30px;
    display: block;
}
a {
    text-align:center;
}
